.bpgallery-image-page {
    [itemprop="descripion"] {
        margin-top: 20px;
    }

    .image-link {
        display: flex;
        width: 100%;
    }

    .image {
        width: 100%;
        display: block;
    }
}