/**
!.dev
!.dev/**
!administrator
administrator/*
!administrator/components
administrator/components/*
!administrator/components/com_bpgallery
administrator/components/com_bpgallery/assets
administrator/components/com_bpgallery/assets/*
administrator/components/com_bpgallery/assets/**

!components
components/**
!components/com_bpgallery
!components/com_bpgallery/**

!LICENSE
!README.md
!database_model.mwb
!build.xml
!composer.json
!.gitignore
.idea
!build.properties
!webpack.config.js
!/package.json
!/package-lock.json
!/composer.lock