/**
!.dev
!.dev/**

!administrator
administrator/*
!administrator/components
administrator/components/*
!administrator/components/com_bpgallery
administrator/components/com_bpgallery/assets
!administrator/components/com_bpgallery/models
!administrator/components/com_bpgallery/models/fields
!administrator/components/com_bpgallery/models/fields/**

!administrator/manifests
administrator/manifests/*
!administrator/manifests/packages
administrator/manifests/packages/*
!/administrator/manifests/packages/pkg_bpgallery.xml

!components
components/**
!components/com_bpgallery
!components/com_bpgallery/**
components/com_bpgallery/assets

!modules
modules/**
!modules/mod_bpgallery

!LICENSE
!README.md
!database_model.mwb
!build.xml
!composer.json
!.gitignore
.idea
!build.properties
!webpack.config.js
!package.json
!package-lock.json
!composer.lock
