package=BPExtensions.BPGallery.Component
subpackage=BPGallery
build.version=
build.release=
copyrights=Grupa Best Sp. z o.o.
license.name=GNU GPL 3.0
license.url=https://www.gnu.org/licenses/gpl-3.0.txt
author.url=https://bpextensions.com
author.name=Grupa Best Sp. z o.o.
author.email=support@bpextensions.com