
#bpgallery_upload_container {
    border: 1px dashed #aaa;
    border-radius: 10px;

    &.hasFiles {
        border: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    .progress {
        margin: 0;
        width: 100px;
    }

    table {
        margin: -1px 0 0 0;

        .min {
            width: 1%;
            white-space: nowrap;
        }

        .btn {
            i {
                margin-right: 0;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.progress#bpgallery_upload_progress {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.bpgallery_upload_form {
    .queue-entry {
        position: relative;
        overflow: hidden;
        list-style: none;

        & > span, & > button {
            aspect-ratio: 1;
            display: block;
            width: 100%;
            position: relative;
            background: #f0f0f0;
            overflow: hidden !important;
        }

        &.upload-button {
            background: transparent;

            .btn-upload {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                & > .wrapper {
                    display: block;
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);

                    span, small, i {
                        display: block;
                        line-height: 1.25;
                    }
                }
            }
        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 9990;
            transition: 0.2s linear all;
            box-shadow: inset 0 0 1px 0 rgba(black, .3);

            &.disabled {
                opacity: 0;
            }
        }

        .btn-remove {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            z-index: 99999;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            border-radius: 0 !important;
        }

        &:hover {
            .btn-remove {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
            }

        }

        .name {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 10px;
            white-space: nowrap;
            color: #444;
            text-align: left;
            display: block;
            width: 100%;
            word-wrap: break-word;
            padding: .2em .5em;
            box-sizing: border-box;
            z-index: 9995;
            background: rgba(255, 255, 255, 0.9);
            //border-top:1px solid white;
            border: 1px rgba(black, .3);
            border-top-color: white;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        .progress {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.8);
            height: 5px;
            z-index: 99991;
            opacity: 0;
            box-shadow: 0 0 5px 0 rgba(black, .5);

            span {
                background: #46A546;
                width: 0;
                height: 100%;
                display: block;
            }

            &.uploading {
                opacity: 1;
            }
        }
    }
}

#bpgallery_upload_missing_params_warning {
    color: red;
    font-weight: 500;
}