<?xml version="1.0" encoding="utf-8"?>
<config>
    
	<fieldset
		name="component"
		label="COM_BPGALLERY_FIELDSET_CONFIG_COMPONENT_LABEL"
		description="COM_BPGALLERY_FIELDSET_CONFIG_COMPONENT_DESC"
	>


	</fieldset>

	<fieldset
			name="category"
			label="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORY_LABEL"
			description="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORY_DESC"
	>

	</fieldset>

	<fieldset name="category_default" label="COM_BPGALLERY_FIELDSET_CATEGORY_DEFAULT_LABEL">


		<field
				name="category_default_note"
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CATEGORY_DEFAULT_DESC"
				class="text"
		/>

		<field
				name="show_image_title"
				type="list"
				label="COM_BPGALLERY_CONFIG_SHOW_IMAGE_TITLE_LABEL"
				description="COM_BPGALLERY_CONFIG_SHOW_IMAGE_TITLE_DESC"
				default="1"
				class="chzn-color"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_image_intro"
				type="list"
				label="COM_BPGALLERY_CONFIG_SHOW_IMAGE_INTRO_LABEL"
				description="COM_BPGALLERY_CONFIG_SHOW_IMAGE_INTRO_DESC"
				default="1"
				class="chzn-color"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="image_lightbox"
				type="list"
				label="COM_BPGALLERY_CONFIG_IMAGE_LIGHTBOX_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGE_LIGHTBOX_DESC"
				default="1"
				class="chzn-color"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="images_align"
				type="list"
				label="COM_BPGALLERY_CONFIG_IMAGES_ALIGN_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_ALIGN_DESC"
				default="center"
		>
			<option value="left">JGLOBAL_LEFT</option>
			<option value="center">JGLOBAL_CENTER</option>
			<option value="between">COM_BPGALLERY_CONFIG_IMAGES_ALIGN_BETWEEN</option>
			<option value="right">JGLOBAL_RIGHT</option>
		</field>

		<field
				name="images_limit"
				type="text"
				label="COM_BPGALLERY_CONFIG_IMAGES_LIMIT_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_LIMIT_DESC"
				filter="INT"
				default="25"/>

	</fieldset>

	<fieldset
			name="images"
			type="text"
			layout="table"
			label="COM_BPGALLERY_FIELDSET_CONFIG_IMAGES_LABEL"
			description="COM_BPGALLERY_FIELDSET_CONFIG_IMAGES_DESC"
	>

        <field 
            name="images_path" default="/images/gallery" readonly="true"
            label="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_LABEL"
            description="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_DESC"
            required="true" 
        />

		<field
				name="sizes"
				default="{'sizes1':{'width':'200','height':'200','method':'crop'},'sizes2':{'width':'1920','height':'1080','method':'fit'}}"
				type="subform"
				label="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_LABEL"
				description="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_DESC"
				multiple="true"
				layout="joomla.form.field.subform.repeatable-table"
				formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
		/>

	</fieldset>

	<fieldset name="advanced" label="COM_BPGALLERY_FIELDSET_ADVANCED_LABEL">

		<field
				name="include_component_assets"
				type="list"
				label="COM_BPGALLERY_CONFIG_INCLUDE_COMPONENT_ASSETS_LABEL"
				description="COM_BPGALLERY_CONFIG_INCLUDE_COMPONENT_ASSETS_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="include_theme_assets"
				type="list"
				label="COM_BPGALLERY_CONFIG_INCLUDE_THEME_ASSETS_LABEL"
				description="COM_BPGALLERY_CONFIG_INCLUDE_THEME_ASSETS_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_bpgallery"
			section="component"
		/>
	</fieldset>
</config>
