<?xml version="1.0" encoding="utf-8"?>
<config>
    
	<fieldset
		name="component"
		label="COM_BPGALLERY_FIELDSET_CONFIG_COMPONENT_LABEL"
		description="COM_BPGALLERY_FIELDSET_CONFIG_COMPONENT_DESC"
		>

		
	</fieldset>
    
	<fieldset
		name="category"
		label="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORY_LABEL"
		description="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORY_DESC"
		>

		
	</fieldset>
    
    <fieldset
		name="images"
        type="text"
        layout="table"
		label="COM_BPGALLERY_FIELDSET_CONFIG_IMAGES_LABEL"
		description="COM_BPGALLERY_FIELDSET_CONFIG_IMAGES_DESC"
		>

        <field 
            name="images_path" default="/images/gallery" readonly="true"
            label="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_LABEL"
            description="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_DESC"
            required="true" 
        />
		
        <field 
            name="sizes" default="{'sizes1':{'width':'200','height':'200','method':'crop'},'sizes2':{'width':'1920','height':'1080','method':'fit'}}"
            type="subform"
            label="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_LABEL"
            description="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_DESC"
            multiple="true"
            layout="joomla.form.field.subform.repeatable-table"
            formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
        />
		
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_bpgallery"
			section="component"
		/>
	</fieldset>
</config>
