<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset
			name="categories"
			label="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORIES_LABEL"
	>
		<field
				name="categories_note"
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CONFIG_CATEGORIES_DESC"
				class="muted"
		/>

		<field
				name="show_category_title"
				type="list"
				label="JGLOBAL_SHOW_CATEGORY_TITLE"
				description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_description"
				type="list"
				label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
				description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_description_image"
				type="list"
				label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
				description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="maxLevel"
				type="list"
				label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
				description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
				default="-1"
		>
			<option value="-1">JALL</option>
			<option value="0">JNONE</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
				name="show_empty_categories"
				type="list"
				label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
				description="COM_BPGALLERY_SHOW_EMPTY_CATEGORIES_DESC"
				class="chzn-color"
				default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>


		<field
				name="show_subcat_desc"
				type="list"
				label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
				description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
				class="chzn-color"
				default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_cat_num_images"
				type="list"
				label="COM_BPGALLERY_CONFIG_SHOW_CAT_NUM_IMAGES_LABEL"
				description="COM_BPGALLERY_CONFIG_SHOW_CAT_NUM_IMAGES_DESC"
				default="1"
				filter="INT"
				class="chzn-color"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset name="category" label="COM_BPGALLERY_FIELDSET_CATEGORY_LABEL">

		<field
				name="images"
				class="muted"
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_IMAGES_DESC"
		/>

		<field
				name="category_common_settings_note"
				class=""
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CATEGORY_COMMON_DESC"
		/>

		<field
				name="images_limit"
				type="text"
				label="COM_BPGALLERY_CONFIG_IMAGES_LIMIT_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_LIMIT_DESC"
				filter="INT"
				default="25"/>

		<field
				name="group_images"
				type="radio"
				label="COM_BPGALLERY_CONFIG_GROUP_IMAGES_LABEL"
				description="COM_BPGALLERY_CONFIG_GROUP_IMAGES_DESC"
				class="btn-group btn-yesno"
				default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="category_default_settings_note"
				class=""
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CATEGORY_DEFAULT_DESC"
		/>

		<field
				name="images_align"
				type="list"
				label="COM_BPGALLERY_CONFIG_IMAGES_ALIGN_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_ALIGN_DESC"
				default="center"
		>
			<option value="left">JGLOBAL_LEFT</option>
			<option value="center">JGLOBAL_CENTER</option>
			<option value="between">COM_BPGALLERY_CONFIG_IMAGES_ALIGN_BETWEEN</option>
			<option value="right">JGLOBAL_RIGHT</option>
		</field>

		<field
				name="category_square_settings_note"
				class=""
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CATEGORY_SQUARE_DESC"
		/>

		<field
				name="category_square_row_length"
				type="number"
				label="COM_BPGALLERY_CONFIG_CATEGORY_SQUARE_ROW_LENGTH_LABEL"
				description="COM_BPGALLERY_CONFIG_CATEGORY_SQUARE_ROW_LENGTH_DESC"
				filter="INT"
				min="1" max="20" step="1"
				default="4"/>

		<field
				name="category_masonry_settings_note"
				class=""
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_CATEGORY_MASONRY_DESC"
		/>

		<field
				name="category_masonry_columns"
				type="number"
				label="COM_BPGALLERY_CONFIG_CATEGORY_MASONRY_COLUMNS_LABEL"
				description="COM_BPGALLERY_CONFIG_CATEGORY_MASONRY_COLUMNS_DESC"
				filter="INT"
				min="1" max="20" step="1"
				default="4"/>

		<field
				name="category_masonry_gap"
				type="list"
				label="COM_BPGALLERY_CONFIG_CATEGORY_MASONRY_GAP_LABEL"
				description="COM_BPGALLERY_CONFIG_CATEGORY_MASONRY_GAP_DESC"
				default="1"
				filter="INT"
				class="chzn-color"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset name="image" label="COM_BPGALLERY_FIELDSET_IMAGE_LABEL">

		<field
				name="image"
				class="muted"
				type="spacer"
				label="COM_BPGALLERY_FIELDSET_IMAGE_DESC"
		/>

		<field
				name="show_image_title"
				type="list"
				label="COM_BPGALLERY_CONFIG_SHOW_IMAGE_TITLE_LABEL"
				description="COM_BPGALLERY_CONFIG_SHOW_IMAGE_TITLE_DESC"
				default="1"
				class="chzn-color"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_image_intro"
				type="list"
				label="COM_BPGALLERY_CONFIG_SHOW_IMAGE_INTRO_LABEL"
				description="COM_BPGALLERY_CONFIG_SHOW_IMAGE_INTRO_DESC"
				default="1"
				class="chzn-color"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="images_lightbox"
				type="list"
				label="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_DESC"
				default=""
				class="chzn-color"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="images_lightbox_title"
				type="list"
				label="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_TITLE_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_TITLE_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="images_lightbox_min_res"
				type="number"
				label="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_MIN_RES_LABEL"
				description="COM_BPGALLERY_CONFIG_IMAGES_LIGHTBOX_MIN_RES_DESC"
				filter="INT"
				min="0" step="100"
				default="0"/>

		<field
				name="default_image_state"
				type="list"
				label="COM_BPGALLERY_CONFIG_DEFAULT_IMAGE_STATE_LABEL"
				description="COM_BPGALLERY_CONFIG_DEFAULT_IMAGE_STATE_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JUNPUBLISHED</option>
			<option value="1">JPUBLISHED</option>
		</field>

	</fieldset>

	<fieldset
			name="thumbnails"
			type="text"
			layout="table"
			label="COM_BPGALLERY_FIELDSET_CONFIG_THUMBNAILS_LABEL"
			description=""
	>

		<field
				name="thumbnails_note"
				type="spacer" class="muted"
				label="COM_BPGALLERY_FIELDSET_CONFIG_THUMBNAILS_DESC"
		/>

		<field
				name="quality" default="85" type="number" min="0" max="100"
				label="COM_BPGALLERY_FIELDSET_IMAGES_QUALITY_LABEL"
				description="COM_BPGALLERY_FIELDSET_IMAGES_QUALITY_DESC"
				required="true"
		/>

		<field
				name="images_path" default="/images/gallery"
				label="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_LABEL"
				description="COM_BPGALLERY_FIELDSET_IMAGES_IMAGES_PATH_DESC"
				required="true"
		/>

		<field
				name="sizes"
				default="{'sizes1':{'width':'200','height':'200','method':'crop'},'sizes2':{'width':'1920','height':'1080','method':'fit'}}"
				type="subform"
				label="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_LABEL"
				description="COM_BPGALLERY_FIELDSET_IMAGES_SIZES_DESC"
				multiple="true"
				layout="joomla.form.field.subform.repeatable-table"
				formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
		/>

		<field
				name="view_thumbnails_note"
				type="spacer" class="muted"
				label="COM_BPGALLERY_FIELDSET_CONFIG_VIEW_THUMBNAILS_NOTE_LABEL"
		/>

		<field
				name="thumbnails_size_category_default"
				type="subform"
				default="{'width':'0','height':'100','method':'fit_height'}"
				label="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_DEFAULT_LABEL"
				description="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_DEFAULT_DESC"
				formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
				layout="joomla.form.field.subform.repeatable-table"
		/>

		<field
				name="thumbnails_size_category_squares"
				type="subform"
				default="{'width':'200','height':'200','method':'crop'}"
				label="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_SQUARES_LABEL"
				description="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_SQUARES_DESC"
				formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
				layout="joomla.form.field.subform.repeatable-table"
		/>

		<field
				name="thumbnails_size_category_masonry"
				type="subform"
				default="{'width':'200','height':'0','method':'fit_width'}"
				label="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_MASONRY_LABEL"
				description="COM_BPGALLERY_FIELDSET_THUMBNAILS_SIZE_CATEGORY_MASONRY_DESC"
				formsource="/administrator/components/com_bpgallery/models/forms/thumbnail_sizes.xml"
				layout="joomla.form.field.subform.repeatable-table"
		/>

	</fieldset>

	<fieldset name="advanced" label="COM_BPGALLERY_FIELDSET_ADVANCED_LABEL">

		<field
				name="include_component_assets"
				type="list"
				label="COM_BPGALLERY_CONFIG_INCLUDE_COMPONENT_ASSETS_LABEL"
				description="COM_BPGALLERY_CONFIG_INCLUDE_COMPONENT_ASSETS_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="include_theme_assets"
				type="list"
				label="COM_BPGALLERY_CONFIG_INCLUDE_THEME_ASSETS_LABEL"
				description="COM_BPGALLERY_CONFIG_INCLUDE_THEME_ASSETS_DESC"
				class="chzn-color"
				default="1"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
			name="integration"
			label="JGLOBAL_INTEGRATION_LABEL"
	>

		<field
				name="integration_note"
				type="spacer" class="muted"
				label="COM_BPGALLERY_CONFIG_INTEGRATION_SETTINGS_DESC"
		/>

		<field
				name="integration_sef"
				type="note"
				label="JGLOBAL_SEF_TITLE"
		/>

		<field
				name="sef_advanced"
				type="radio"
				class="btn-group btn-group-yesno btn-group-reversed"
				default="0"
				label="JGLOBAL_SEF_ADVANCED_LABEL"
				description="JGLOBAL_SEF_ADVANCED_DESC"
				filter="integer"
		>
			<option value="0">JGLOBAL_SEF_ADVANCED_LEGACY</option>
			<option value="1">JGLOBAL_SEF_ADVANCED_MODERN</option>
		</field>

		<field
				name="sef_ids"
				type="radio"
				class="btn-group btn-group-yesno"
				default="0"
				label="JGLOBAL_SEF_NOIDS_LABEL"
				description="JGLOBAL_SEF_NOIDS_DESC"
				showon="sef_advanced:1"
				filter="integer"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				name="integration_customfields"
				type="note"
				label="JGLOBAL_FIELDS_TITLE"
		/>

		<field
				name="custom_fields_enable"
				type="radio"
				label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
				description="JGLOBAL_CUSTOM_FIELDS_ENABLE_DESC"
				class="btn-group btn-group-yesno"
				default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				filter="rules"
				validate="rules"
				component="com_bpgallery"
				section="component"
		/>
	</fieldset>
</config>
