.bpgallery-category {
    .items {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;

        .image-link {
            display: block;
            margin: 0 20px 20px 0;

            .image {
                display: block;
            }
        }
    }
}