#bpgallery_upload_container {
  text-align: center;
  border: 1px dashed #aaa;
  margin: 15px;
  border-radius: 10px;
  padding: 64px 0; }
  #bpgallery_upload_container > i {
    font-size: 64px;
    color: #aaa;
    margin-bottom: 30px;
    display: inline-block;
    height: 64px;
    width: 64px; }
  #bpgallery_upload_container p {
    text-align: center; }
  #bpgallery_upload_container.hasFiles {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0px; }
  #bpgallery_upload_container .progress {
    margin: 0;
    width: 100px; }
  #bpgallery_upload_container table {
    margin: -1px 0 0 0; }
    #bpgallery_upload_container table .min {
      width: 1%;
      white-space: nowrap; }
    #bpgallery_upload_container table .btn i {
      margin-right: 0; }
  #bpgallery_upload_container:after {
    content: '';
    display: block;
    clear: both; }

.progress#bpgallery_upload_progress {
  width: 100%;
  box-sizing: border-box;
  display: block; }

#bpgallery_upload_form .modal-header #uploadFormLabel small {
  margin-left: 10px; }
#bpgallery_upload_form .modal-body {
  padding: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto; }
  #bpgallery_upload_form .modal-body .thumbnail {
    position: relative;
    width: 120px;
    height: 120px;
    background: #f0f0f0;
    overflow: hidden; }
    #bpgallery_upload_form .modal-body .thumbnail .image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: 9999;
      transition: 0.9s linear all; }
      #bpgallery_upload_form .modal-body .thumbnail .image.disabled {
        opacity: 0; }
    #bpgallery_upload_form .modal-body .thumbnail .btn-remove {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.95);
      opacity: 1;
      transition: 0.5s linear all;
      z-index: 99999;
      padding: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
      #bpgallery_upload_form .modal-body .thumbnail .btn-remove i {
        font-size: 16px;
        width: 24px;
        height: 24px;
        margin: 0;
        color: #666; }
        #bpgallery_upload_form .modal-body .thumbnail .btn-remove i:before {
          position: relative;
          top: 2px; }
    #bpgallery_upload_form .modal-body .thumbnail:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 0 1px 0 #fff; }
      #bpgallery_upload_form .modal-body .thumbnail:hover .btn-remove {
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
        #bpgallery_upload_form .modal-body .thumbnail:hover .btn-remove i {
          color: red; }
    #bpgallery_upload_form .modal-body .thumbnail .name {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 11px;
      color: #444;
      text-align: center;
      display: block;
      width: 100%;
      word-wrap: break-word;
      padding: 0 5px 5px 5px;
      box-sizing: border-box;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
    #bpgallery_upload_form .modal-body .thumbnail .progress {
      position: absolute;
      bottom: 10px;
      left: 0;
      margin: 0 10px;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      height: 5px;
      z-index: 99991;
      opacity: 0; }
      #bpgallery_upload_form .modal-body .thumbnail .progress span {
        background: #46A546;
        width: 0%;
        border-radius: 5px;
        height: 5px;
        display: block; }
      #bpgallery_upload_form .modal-body .thumbnail .progress.uploading {
        opacity: 1; }
#bpgallery_upload_form .modal-footer .category-selection > .control-group {
  margin: 0; }
  #bpgallery_upload_form .modal-footer .category-selection > .control-group > .controls > .input-append {
    margin: 0; }
    #bpgallery_upload_form .modal-footer .category-selection > .control-group > .controls > .input-append > .btn {
      border-radius: 0;
      margin: 0 0 0 -1px; }
      #bpgallery_upload_form .modal-footer .category-selection > .control-group > .controls > .input-append > .btn:last-child {
        border-radius: 0 3px 3px 0; }
#bpgallery_upload_form .modal-footer .category-selection .modal {
  z-index: 999999; }

#adminForm .thumbnail {
  margin-right: 10px; }
