.bpgallery-category {
    .categories-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        .category-item {
            @media screen and (min-width: 800px) {
                margin-right: 20px;
            }
            margin-bottom: 20px;

            h4 {
                .category-anchor {
                    display: inline-flex;
                    flex-direction: column;
                }

                img {
                    height: 100px;
                }

                .category-title {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                }
            }
        }
    }
}